@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    background-color: #0d1e0d;
    background-image: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25) 1px,
      transparent 1px,
      transparent 2px
    );
  }
}
